<div style="text-align:center">
    <h1>
        <img src="https://cdnjs.cloudflare.com/ajax/libs/octicons/8.1.3/svg/octoface.svg" height="48" />
        <br /> {{ title }}
    </h1>
</div>

<div class="container-fluid">
    <div class="row">
      <div class="col-sm-1 col-md-2 col-lg-2">
          <!-- Columna Izq. -->
      </div>
      <div class="col-sm-10 col-md-8 col-lg-8">

        <!-- Columna Central: Resultados búsqueda -->
        <form name="githubIssues">
            <label>URL:
                <input type="url" name="githubUrl" class="githubUrl" (keyup)="onGithubUrlKeyUp($event)" placeholder="https://api.github.com/">
                <span *ngIf="validado" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <span *ngIf="!validado" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <button id="buscar" (click)="GetGithubIssues(); $event.preventDefault()" [disabled]="!validado">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    'Issues'
                </button>
                
            </label>
        </form>

        <!-- Instrucciones -->
        <p *ngIf="!cargado">
            Introduzca la url del proyecto en github. Ejemplo: <b>https://github.com/octocat/Hello-World</b>
            <br/>
            Nota: <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Debe validar la url para poder pulsar el botón de carga.
        </p>
        
        <!-- Listado -->
        <div *ngIf="cargado">

            <div class="list-group">
                <a class="list-group-item" *ngFor="let issue of pagedItems">
                    <h4 class="list-group-item-heading"><a href="{{ urlAPItoWeb(issue.url) }}">{{ issue.title }}</a></h4>
                    <p class="list-group-item-text">
                        <img src="{{ issue.user.avatar_url }}" height="16px" /> por <b>{{ issue.user.login }}</b>. Fecha {{ issue.created_at }}
                    </p>
                </a>
            </div>

            <!-- 
            http://jasonwatmore.com/post/2016/08/23/angular-2-pagination-example-with-logic-like-google
            -->
            <div style="text-align:center">
                <!-- pager -->
                <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(1)">Primera</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(pager.currentPage - 1)">Anterior</a>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                        <a (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.currentPage + 1)">Siguiente</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.totalPages)">Última</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- END Listado -->
      </div>
      <div class="col-sm-1 col-md-2 col-lg-2">
          <!-- Columna Dcha. -->
      </div>
    </div>
  </div>